<div class="container-fluid px-lg-4 px-xl-5">
  <!-- Breadcrumbs -->
  <div class="page-breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
      <li class="breadcrumb-item active">
        <a href="/dashboard/users">Brukere</a>
      </li>
      <li class="breadcrumb-item active">Opprett ny</li>
    </ul>
  </div>
  <!-- Page Header-->
  <div class="page-header">
    <h1 class="page-heading">Registrer ny bruker</h1>
  </div>
  <section>
    <div class="row">
      <!-- Form Elements -->
      <div class="col-lg-10 col-xl-8 mb-5">
        <div class="card">
          <div class="card-header">
            <h4 class="card-heading">Skjema:</h4>
          </div>
          <div class="card-body">
            <form
              class="form-horizontal needs-validation"
              method="POST"
              action="/dashboard/users/new"
              novalidate
            >
              <div class="row">
                <label class="col-md-3 form-label">Fullt navn</label>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="text"
                    name="name"
                    required
                  />
                </div>
              </div>
              <hr class="bg-gray-400 my-4" />
              <div class="row">
                <label class="col-md-3 form-label">Telefonnummer</label>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="tel"
                    name="telefon"
                    required
                  />
                </div>
              </div>
              <hr class="bg-gray-400 my-4" />
              <div class="row">
                <label class="col-md-3 form-label">E-mail</label>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="email"
                    name="username"
                    required
                  />
                </div>
              </div>
              <hr class="bg-gray-400 my-4" />
              <div class="row">
                <label class="col-md-3 form-label">Password</label>
                <div class="col-md-9">
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    required
                  />
                </div>
              </div>
              <hr class="bg-gray-400 my-4" />
              <div class="row">
                <label class="col-md-3 form-label">Kjønn<br /></label>
                <div class="col-md-9">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      id="customRadioInline1"
                      type="radio"
                      name="sex"
                      value="true"
                      required
                    />
                    <label class="custom-control-label" for="customRadioInline1"
                      >Mann</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      id="customRadioInline2"
                      type="radio"
                      name="sex"
                      value="false"
                      required
                    />
                    <label class="custom-control-label" for="customRadioInline2"
                      >Kvinne</label
                    >
                  </div>
                </div>
              </div>
              <hr class="bg-gray-400 my-4" />
              <div class="row">
                <label class="col-md-3 form-label">Rolle</label>
                <div class="col-md-9 ms-auto select">
                  <select class="form-control rounded" name="rolle" required>
                    <option value="ansatt">Ansatt</option>
                    <option value="admin">Admin</option>
                    <option value="utvikler">Utvikler</option>
                  </select>
                </div>
              </div>
              <hr class="bg-gray-500 my-4" />
              <div class="row">
                <div class="col-md-9 ms-auto">
                  <button class="btn btn-danger">
                    <a href="/dashboard" class="text-decoration-none text-white"
                      >Avbryt</a
                    >
                  </button>
                  <button class="btn btn-success text-white" type="submit">
                    Opprett bruker
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/js/validate.js"></script>
