<div class="container-fluid px-0">
  <div class="row gx-0 min-vh-100">
    <div
      class="col-md-9 col-lg-6 col-xl-4 px-5 d-flex align-items-center shadow"
    >
      <div class="w-100 py-5">
        <div class="text-center">
          <img
            class="img-fluid mb-4"
            src="images/SVG/kvikLogo.svg"
            alt="..."
            style="max-width: 30rem"
          />
        </div>
        <form method="get" action="/reklamasjon">
          <h1 class="h4 text-uppercase mb-5">Sende inn reklamasjon?</h1>
          <!-- Submit-->
          <div class="d-grid mb-5">
            <button class="btn btn-danger text-uppercase">
              <strong>Fyll ut skjema.</strong>
            </button>
          </div>
        </form>
        <form method="POST" action="/auth">
          <h1 class="h4 text-uppercase pt-5 mb-5">Log in</h1>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              class="form-control"
              name="username"
              type="string"
              autocomplete="off"
            />
          </div>
          <div class="mb-4">
            <div class="row">
              <div class="col">
                <label class="form-label">Password</label>
              </div>
              <div class="col-auto">Glemt passord? Ring utvikleren.</div>
            </div>
            <input class="form-control" name="password" type="password" />
          </div>
          <!-- Submit-->
          <div class="d-grid mb-5">
            <button
              type="submit"
              class="btn btn-success text-white text-uppercase"
            >
              <strong>Log in</strong>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3 col-lg-6 col-xl-8 d-none d-md-block">
      <!-- Image-->
      <div
        class="bg-cover h-100 me-n3"
        style="
          background-image: url(img/photos/restaurant-1508766917616-d22f3f1eea14.jpg);
        "
      ></div>
    </div>
  </div>
</div>
