<main class="form-signin text-center">
  <form method="POST" action="/auth/login">
    <img class="mb-4" src="/kvik-logo.png" alt="" width="200" height="59" />
    <h1 class="h3 mb-3 fw-normal mt-4">Logg inn</h1>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Name"
        name="username"
      />
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-4" type="submit">
      Log in
    </button>
    <a href="/login/forgotPassword">Forgot password?</a>
  </form>
</main>
