<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <span data-feather="home"></span>
              Oversikt
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Kunder
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/brukere">
              <span data-feather="users"></span>
              Brukere
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="#">
              <span data-feather="shopping-cart"></span>
              Løste saker
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#">
              <span data-feather="users"></span>
              <strong>Uløste saker</strong>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
