<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>kvik</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="all,follow" />
<!-- Google fonts - Popppins for copy-->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap"
  rel="stylesheet"
/>
<!-- Prism Syntax Highlighting-->
<link
  rel="stylesheet"
  href="/vendor/prismjs/plugins/toolbar/prism-toolbar.css"
/>
<link rel="stylesheet" href="/vendor/prismjs/themes/prism-okaidia.css" />
<!-- The Main Theme stylesheet (Contains also Bootstrap CSS)-->
<link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet" />
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="/css/custom.css" />
<!-- Favicon-->
<link rel="shortcut icon" href="/img/favicon.ico" />
