<div>
  <a class="text-white" href="http://localhost:80/"
    ><h3 class="float-md-start mb-0">Kvik</h3></a
  >
  <nav
    id="activeNavbar"
    class="nav nav-masthead justify-content-center float-md-end"
  >
    <a class="nav-link" aria-current="page" href="/">Hjem</a>
    <a class="nav-link" href="/feedback">Feedback</a>
    <a class="nav-link" href="/reklamasjon">Reklamasjon</a>
    <a class="nav-link" href="/kontakt">Kontakt</a>
  </nav>
</div>
