<div>
  <a class="text-white" href="http://localhost:80/"
    ><h3 class="float-md-start mb-0">Kvik</h3></a
  >
  <nav class="nav nav-masthead justify-content-center float-md-end">
    <a
      class="nav-link"
      aria-current="page"
      href="http://localhost:80/feedback/form"
      >Feedback</a
    >
    <a class="nav-link" href="http://localhost:80/reklamasjon/form"
      >Reklamasjon</a
    >
    <a class="nav-link" href="http://localhost:80/kontakt">Kontakt</a>
  </nav>
</div>
