<div class="container-fluid px-lg-4 px-xl-5">
  <section class="mb-4 mb-lg-5">
    <div class="row text-dark">
      <div class="col-md-6 col-xl-4 mb-4">
        <div class="card credit-card bg-hover-gradient-blue">
          <div class="credict-card-content">
            <div class="text-uppercase flex-shrink-0 m-auto text-center fs-3">
              <div class="fw-light">Nye saker</div>
              <h4 class="mb-1 text-xl">5</h4>
            </div>
          </div>
          <a class="stretched-link" href="/dashboard/unsolved"></a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <div class="card credit-card bg-hover-gradient-red">
          <div class="credict-card-content">
            <div class="text-uppercase flex-shrink-0 m-auto text-center fs-3">
              <div class="fw-light">Uløste saker</div>
              <h4 class="mb-1 text-xl">9</h4>
            </div>
          </div>
          <a class="stretched-link" href="/dashboard/unsolved"></a>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <div class="card credit-card bg-hover-gradient-green">
          <div class="credict-card-content">
            <div class="text-uppercase flex-shrink-0 m-auto text-center fs-3">
              <div class="fw-light">Arkiverte saker</div>
              <h4 class="mb-1 text-xl">15</h4>
            </div>
          </div>
          <a class="stretched-link" href="/dashboard/solved"></a>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-4">
    <h2 class="section-heading section-heading-ms mb-4 mb-lg-5">
      Nyeste uløste saker:
    </h2>
    <div class="row">
      <div class="col-sm-6 col-xl-12">
        <a
          class="
            message
            card
            px-5
            py-3
            mb-4
            bg-hover-gradient-primary
            text-decoration-none text-reset
          "
          href="/dashboard/unsolved"
        >
          <div class="row">
            <div
              class="
                col-xl-3
                d-flex
                align-items-center
                flex-column flex-xl-row
                text-center text-md-left
              "
            >
              <strong class="h5 mb-0"
                >24<sup class="text-xs text-gray-500 font-weight-normal ms-1"
                  >Apr</sup
                ></strong
              >
              <h6 class="p-1 mx-3 my-2 my-xl-0">Jason Maxwell</h6>
            </div>
            <div
              class="
                col-xl-9
                d-flex
                align-items-center
                flex-column flex-xl-row
                text-center text-md-left
              "
            >
              <p class="mb-0 mt-3 mt-lg-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor.
              </p>
            </div>
          </div></a
        >
      </div>
      <div class="col-sm-6 col-xl-12">
        <a
          class="
            message
            card
            px-5
            py-3
            mb-4
            bg-hover-gradient-primary
            text-decoration-none text-reset
          "
          href="/dashboard/unsolved"
        >
          <div class="row">
            <div
              class="
                col-xl-3
                d-flex
                align-items-center
                flex-column flex-xl-row
                text-center text-md-left
              "
            >
              <strong class="h5 mb-0"
                >24<sup class="text-xs text-gray-500 font-weight-normal ms-1"
                  >Apr</sup
                ></strong
              >
              <h6 class="p-1 mx-3 my-2 my-xl-0">Jason Maxwell</h6>
            </div>
            <div
              class="
                col-xl-9
                d-flex
                align-items-center
                flex-column flex-xl-row
                text-center text-md-left
              "
            >
              <p class="mb-0 mt-3 mt-lg-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor.
              </p>
            </div>
          </div></a
        >
      </div>
    </div>
  </section>
</div>
