<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link href="/styles/signin.css" rel="stylesheet" />
  </head>

  <body class="bg-light">
    <%- body %>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- <script src="/scripts/bootstrapJS/bootstrap.js"></script> -->
    <script src="/scripts/bootstrapJS/bootstrap.min.js"></script>
  </body>
</html>
