<div class="container w-75">
  <div class="container contents-container mt-3">
    <div class="row flex-nowrap">
      <div class="col">
        <div class="text-center">
          <h1>Tilbakemelding KVIK Alnabru</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container contents-container mt-3">
    <div class="row flex-nowrap">
      <div class="col">
        <div class="text-center">
          <h5>
            Vi strever alltid etter å forbedre oss! Vi hadde satt pris på din
            hjelp. Legg igjen noen få ord om hvordan du opplevde Kvik Alnabru.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <form
      id="feedback-form"
      method="POST"
      action="/feedback/send"
      enctype="multipart/form-data"
    >
      <!-- Name input -->
      <label for="">Info:</label>
      <div class="row mt-2">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Navn"
            name="name"
            required
          />
        </div>
        <div class="col">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            name="email"
            required
          />
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <label for="q1">Hvordan opplevde du kundeservicen?</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="q1Radio"
          value="Dårlig"
          required
        />
        <label class="form-check-label" for="inlineRadio1">Dårlig</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="q1Radio"
          value="Nøytral"
        />
        <label class="form-check-label" for="inlineRadio2">Nøytral</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="q1Radio"
          value="Bra"
        />
        <label class="form-check-label" for="inlineRadio3">Bra</label>
      </div>
      <div class="row mt-4 mb-2">
        <label for="q1">Ville du rekkomendert oss til en venn?</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="q2Radio"
          value="Nei"
          required
        />
        <label class="form-check-label" for="inlineRadio1">Nei</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="q2Radio"
          value="Usikker"
        />
        <label class="form-check-label" for="inlineRadio2">Usikker</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="q2Radio"
          value="Ja"
        />
        <label class="form-check-label" for="inlineRadio3">Ja</label>
      </div>
      <!-- Message input -->
      <div class="form-outline mt-4 mb-4">
        <label class="form-label" for="form4Example3"
          >Hvorfor valgte du som du gjorde?</label
        >
        <textarea
          class="form-control"
          rows="4"
          placeholder="Skriv her..."
          name="additionalText"
          required
        ></textarea>
      </div>
      <button
        type="submit"
        value="submit"
        class="btn btn-primary btn-block mb-4"
      >
        Send
      </button>
    </form>
  </div>
</div>
<script src="form.js"></script>
