<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
    <script
      src="https://www.google.com/recaptcha/api.js"
      async
      defer
      nonce="gReCaptcha"
    ></script>
  </head>

  <body>
    <!-- Includes -->
    <div class="conatiner"><%- include('./partials/flash.ejs') %></div>
    <!-- body -->
    <%- body %>
    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
