<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto"><%- include('./partials/navbar.ejs') %></header>
      <main class="p-3 border"><%- body %></main>
      <footer class="mt-auto text-white-50">
        <%- include('./partials/footer.ejs') %>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- <script src="/scripts/bootstrapJS/bootstrap.js"></script> -->
    <script src="/scripts/bootstrapJS/bootstrap.min.js"></script>
  </body>
</html>
