<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <!-- Includes -->

    <!-- body -->
    <%- body %>
    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
