<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <!-- Includes -->
    <div class="conatiner">
    <%- include('./partials/flash.ejs') %>
  </div>
    <!-- body -->
    <%- body %>
    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
