/* your styles go here */
.noListStyle {
  list-style-type: none;
}

.backgroundImage {
  background-image: url(/images/kvikMano3.jpg);
}

.formImage {
  size: 100px;
}

.fifty {
  overflow: hidden;
  max-width: 50ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide {
  display: none;
}

.logoStyles {
  height: 90px;
}

.lineChartCustom1 {
  display: block;
  width: 469px;
  height: 234px;
}
