<div class="position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col">
      <a
        type="button"
        href="/feedback/form"
        class="btn btn-lg btn-outline-dark"
      >
        Tilbakemelding
      </a>
    </div>
    <div class="col">
      <a type="button" href="/reklamasjon" class="btn btn-lg btn-outline-dark">
        Reklamasjon
      </a>
    </div>
    <div class="col">
      <a type="button" href="/kontakt" class="btn btn-lg btn-outline-dark">
        Kontakt oss
      </a>
    </div>
  </div>
</div>
