<!-- <div class="position-absolute top-50 start-50 translate-middle">
  <div class="row">
    <div class="col">
      <a
        type="button"
        href="/feedback/form"
        class="btn btn-lg btn-outline-dark"
      >
        Tilbakemelding
      </a>
    </div>
    <div class="col">
      <a type="button" href="/reklamasjon" class="btn btn-lg btn-outline-dark">
        Reklamasjon
      </a>
    </div>
    <div class="col">
      <a type="button" href="/kontakt" class="btn btn-lg btn-outline-dark">
        Kontakt oss
      </a>
    </div>
  </div>
</div> -->

<h1>Velkommen til Kvik Alnabru!</h1>
<p class="lead">
  Kom innom vår butikk, eller ta kontakt ved å sende oss en email!
</p>
<p class="lead">
  <a
    class="btn btn-lg btn-secondary fw-bold border-white bg-white"
    href="mailto:chrvei00@gmail.com"
    >Send en mail</a
  >
</p>
