<div class="container">
  <img src="kvik-logo.png" alt="" />
  <div class="container">
    <a href="/dashboard">Dashboard</a>
  </div>
  <div class="container">
    <a href="/reklamasjon">Reklamasjon</a>
  </div>
</div>
