<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <img class="logoStyles" src="/images/kvik-logo.png" alt="..." />
    </div>
  </div>
</div>
<div class="container col-xs-12 col-md-10">
  <div class="container contents-container mt-3">
    <div class="row flex-nowrap">
      <div class="col">
        <div class="text-center">
          <h1>Reklamasjon</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container contents-container mt-3">
    <div class="row flex-nowrap">
      <div class="col">
        <div class="text-center">
          <h5>
            Ble ikke bestillingen som håpet? Send inn et reklamasjon-skjema. Vi
            kontakter deg så raskt som mulig.
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3"></div>

  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          Aller først, dersom du har utfordring med en hvitevare som er av
          merket Siemens, Bosch, Constructa eller NEFF så skal du ikke
          registrere dette her. Da skal du ringe BSH (Bosch Siemens
          Husholdningsapparater) på telefon 22 66 06 00, og avtale direkte med
          dem et evt. hjemmebesøk. BSH vil spørre etter noe som heter
          «E-nummer», og dette er fysisk merket på ditt produkt. (Dette
          E-nummeret står ikke på faktura.)
        </p>
        <p>
          For å kunne bistå med raskest mulig løsning og utbedring trenger vi
          din hjelp til å fylle ut informasjonen i skjemaet på denne siden, og
          trykke på «SEND INN » knappen.
        </p>
        <p>
          Dersom henvendelsen gjelder synlig skade på vare, må også bilder
          legges ved.
        </p>
        <p>
          Vi skal løse saken så raskt som mulig, og du vil få tilbakemelding om
          status senest innen 3 virkedager.
        </p>
        <p>
          Trenger du hjelp til å fylle ut skjemaet? Ring oss gjerne på xxxxxxxx
          eller <a href="mailto:">Send en mail.</a>
        </p>
      </div>
      <div class="col">
        <form
          id="reklamasjon-form"
          method="POST"
          action="/reklamasjon"
          enctype="multipart/form-data"
          class="needs-validation"
          novalidate
        >
          <!-- Name input -->
          <div class="mb-3">
            <label class="form-label" for="navn">Navn:</label>
            <input
              class="form-control"
              type="text"
              id="navn"
              placeholder="navn"
              name="reklamasjon[name]"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              class="form-control"
              type="text"
              id="email"
              placeholder="email"
              name="reklamasjon[email]"
              required
            />
          </div>
          <div class="mb-3">
            <label for="telefon" class="form-label">Telefonnummer:</label>
            <input
              class="form-control"
              type="tel"
              id="telefon"
              placeholder="telefon"
              name="reklamasjon[telefon]"
              required
            />
          </div>
          <div class="mb-3">
            <label for="ordnr" class="form-label"
              >Ordrenummer (eks: TI3743434)</label
            >
            <input
              class="form-control"
              type="text"
              id="ordnr"
              placeholder="ord.nr."
              name="reklamasjon[ordnr]"
              required
            />
          </div>
          <div class="mb-3">
            <label for="buydate" class="form-label">Kjøpsdato</label>
            <input
              class="form-control"
              type="date"
              id="buydate"
              name="reklamasjon[buydate]"
              required
            />
          </div>
          <div class="mb3">
            <div>
              <label class="form-label" for="montering"
                >Bestilte du montering igjennom Kvik?</label
              >
            </div>
            <div class="form-check form-check-inline" id="montering">
              <input
                class="form-check-input"
                type="radio"
                name="reklamasjon[montering]"
                id="inlineRadio1"
                value="true"
                required
              />
              <label class="form-check-label" for="inlineRadio1">Ja</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="reklamasjon[montering]"
                id="inlineRadio2"
                value="false"
              />
              <label class="form-check-label" for="inlineRadio2">Nei</label>
            </div>
            <div class="mb-3">
              <label class="form-label" for="beskrivelse"
                >Beskrivelse av skaden:
              </label>
              <textarea
                id="beskrivelse"
                class="form-control"
                aria-label="With textarea"
                name="reklamasjon[beskrivelse]"
                required
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="bilde" class="form-label">Last opp bilde(r):</label>
              <input
                class="form-control"
                type="file"
                id="images"
                name="images"
                multiple
              />
            </div>
          </div>
          <div
            class="g-recaptcha"
            data-sitekey="6Lf1PfgaAAAAAE66Rnq62Fprtqnay4vUMcqTPeQ0"
          ></div>
          <button
            class="btn btn-success btn-block mt-4 mb-4 text-white"
            type="submit"
            data-action="submit"
          >
            Send inn
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/validate.js"></script>
<script src="/js/captcha.js"></script>
