<div class="container">
  <h1>Sendt! Vi kontakter deg så snart som mulig!</h1>
  <h1>
    Du vil også motta en bekreftelse på e-post. Hvis du ikke gjorde dette, ta
    kontakt med kvik direkte.
  </h1>
  <p>Vennlig hilsen Kvik.</p>
</div>
