<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-auto">
      <img
        class=""
        src="/images/kvik-logo.png"
        alt="..."
        style="height: 90px"
      />
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-4"></div>
    <h1 class="p-3">Sendt! Vi kontakter deg så snart som mulig!</h1>
    <h1 class="p-3">
      Du vil også motta en bekreftelse på e-post.Om du ikke gjorde dette, ta
      kontakt med kvik direkte.
    </h1>
    <h3 class="p-3">Vennlig hilsen Kvik.</h3>
  </div></div>
</div>
